<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <th:block th:insert="~{layout/admin.html :: head/link}"/>
</head>
<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div layout:fragment="content" class="container">

            </div>
        </div>

    </div>

    <th:block th:insert="~{layout/admin.html :: body/script}"/>
</body>
</html>