<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang = "en">

    <head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="au theme template">
        <meta name="author" content="Minh Chau Nguyen">
        <meta name="keywords" content="au theme template">

        <!-- Title Page-->
        <title>Job Finder - Tìm việc nhanh</title>
        <th:block th:insert="~{layout/admin.html :: head/link}"></th:block>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    </head>

    <body class="animsition">
        <div class="page-wrapper">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop3 d-none d-lg-block">
                <div class="section__content section__content--p35">
                    <div class="header3-wrap">
                        <div class="header__logo">
                            <a href="#">
                                <h2 style="color: white">Job Finder</h2>
                            </a>
                        </div>
                        <div class="header__navbar">
                            <ul class="list-unstyled">
                                <li>
                                    <a th:href="@{/}">
                                        <i class="fas fa-home"></i>
                                        <span class="bot-line"></span>Trang chủ</a>
                                </li>
                                <li>
                                    <a th:href="@{/search}">
                                        <i class="fas fa-search"></i>
                                        <span class="bot-line"></span>Tìm việc làm</a>
                                </li>
                                <li>
                                    <a th:href="@{/profile}">
                                        <i class="fas fa-user-circle"></i>
                                        <span class="bot-line"></span>Profile của tôi</a>
                                </li>
                                <li sec:authorize="hasRole('VIPUSER')">
                                    <a th:href="@{/subscriber}">
                                        <i class="fas fa-file-word"></i>
                                        <span class="bot-line"></span>Công việc quan tâm</a>
                                </li>
                                <li th:unless="${session.account}">
                                    <a th:href="@{/login}">
                                        <i class="fas fa-user"></i>
                                        <span class="bot-line"></span>Đăng nhập</a>
                                </li>

                            </ul>
                        </div>
                        <div class="header__tool">
                            <div  class="account-wrap">
                                <div th:if="${session.account}" class="account-item account-item--style2 clearfix js-item-menu">
                                    <div class="content">
                                        <a class="js-acc-btn" th:text="${session.account.fullName.firstName}+' '+${session.account.fullName.lastName}"></a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#" th:text="${session.account.fullName.firstName}+' '+${session.account.fullName.lastName}"></a>
                                                    <span sec:authorize="hasRole('VIPUSER')" class="badge badge-primary">VIP</span>
                                                </h5>
                                                <span class="email" th:text="${session.account.getAccount().email}"></span>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-account"></i>Tài khoản của tôi</a>
                                            </div>
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-settings"></i>Cài đặt</a>
                                            </div>
                                            <div sec:authorize="hasRole('USER')" class="account-dropdown__item">
                                                <a th:href="@{/upgrade-vip}">
                                                    <i class="zmdi zmdi-money-box"></i>Nâng cấp VIP</a>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a onclick="logout()">
                                                <i class="zmdi zmdi-power"></i>Đăng xuất</a>
                                            <form id="logout-form" th:action="@{/logout}" method="post"></form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->

            <!-- PAGE CONTENT-->
            <div layout:fragment="content" class="page-content--bgf7">
            </div>
        </div>

        <th:block th:insert="~{layout/admin.html :: body/script}"/>
        <script>
            function logout() {
                $('#logout-form').submit();
            }
        </script>
        <th:block layout:fragment="script">
        </th:block>

    </body>

</html>
<!-- end document-->
